openapi: '3.0.2'

info:
  title: CyberDAS API
  version: '0.8'
  contact:
    email: api@cyberdas.net

servers:
  - url: https://api.cyberdas.net/v1
  - url: https://api.cyberdas.net/next

tags: 
  - name: Аутентификация
    description: 'Всё, что относится к аутентификации и управлению идентичностями'
  - name: Очереди
    description: 'Логика очередей и массового обслуживания'
  - name: Обратная связь
    description: 'Механизмы для передачи обратной связи'
  - name: Технические услуги
    description: 'Сервис записи на оказание тех. услуг'

paths:

  /account:

    get:
      summary: Возвращает информацию о текущем пользователе
      tags:
        - Аутентификация
      
      responses:
        '200':
          description: Информация о пользователе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /account/signup:

    post:
      summary: Отправляет ссылку для создания аккаунта на почту
      tags:
        - Аутентификация
      security: []  # доступно без аутентификации

      parameters:
        - $ref: '#/components/parameters/emailNext'

      requestBody:
        $ref: '#/components/requestBodies/Signup'
      
      responses:
        '202':
          description: Письмо отправлено. Для завершения регистрации нужно перейти по ссылке из письма
        '403':
          description: Пользователь с такой почтой уже зарегистрирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /account/signup/validate:
    
    get:
      summary: Завершает регистрацию после перехода по ссылке из регистрационного письма
      tags:
        - Аутентификация
      security: []  # доступно без аутентификации

      parameters:
        - name: token
          in: query
          required: true
          allowEmptyValue: false
          description: Токен из письма с данными для регистрации
          schema:
            type: string
            format: byte

      responses:
        '201':
          description: Аккаунт создан
        '403':
          description: Неверный токен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /account/login:

    post:
      summary: Отправляет ссылку для начала новой сессии на почту
      tags:
        - Аутентификация
      security: []   # доступно без аутентификации

      parameters:
        - $ref: '#/components/parameters/emailNext'

      requestBody:
        $ref: '#/components/requestBodies/Login'
      
      responses:
        '202':
          description: Письмо отправлено. Для логина нужно перейти по ссылке из письма
        '400':
          description: Неверный адрес почты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /account/login/validate:
    
    get:
      summary: Возвращает сессионный куки после перехода по ссылке из письма
      tags:
        - Аутентификация
      security: []  # доступно без аутентификации

      parameters:
        - name: token
          in: query
          required: true
          allowEmptyValue: false
          description: Токен из письма с данными для логина
          schema:
            type: string
            format: byte

      responses:
        '201':
          description: >
            Успешная авторизация.
            Идентификатор сессии возвращается в 'SESSIONID'-куки. Этот куки должен использоваться для дальнейших запросов.
          headers: 
            Set-Cookie:
              schema: 
                type: string
                example: SESSIONID=abcde12345; Path=/; HttpOnly
            X-CSRF-Token: 
              schema:
                type: string
                example: WfF1szMUHhiokx9AHFply5L2xAOfjRkE
        '403':
          description: Неверный или просроченный токен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /account/logout:

    post:
      summary: Заканчивает сессию пользователя
      tags:
        - Аутентификация

      responses:
        '204':
          description: Сессия успешно завершена.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /account/ott:

    post:
      summary: Возвращает токен, позволяющий совершить одно действие без
        предварительной регистрации или логина.
      tags:
        - Аутентификация
      security: []
      

      requestBody:
        $ref: '#/components/requestBodies/QuickAuth'

      responses:
        '201':
          description: >
            Успешная авторизация.
            Ваш одноразовый токен указан в теле ответа. Он должен использоваться для совершения одного действия.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: WfF1szMUH.hiokx9AHFply.5L2xAOfjRkE
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    example: 100
        default:
          $ref: '#/components/responses/UnexpectedError'

  /queues:

    get:
      summary: Возвращает список очередей и их описание
      tags:
        - Очереди
      security: []   # доступно без аутентификации

      responses:
        '200':
          description: JSON-массив с очередями
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Queues'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /queues/{queue}:

    parameters:
      - $ref: '#/components/parameters/queue'

    get:
      summary: Возвращает информацию о запрошенной очереди
      tags:
        - Очереди
      security: []   # доступно без аутентификации

      responses:
        '200':
          description: JSON-объект с информацией о очереди
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Queue'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

    put:
      summary: Создать или заменить ресурс очереди
      tags:
        - Очереди
      security:
        - adminAuth: []

      requestBody:
        $ref: '#/components/requestBodies/QueuePut'
      
      responses:
        '201':
          description: Очередь создана
        '204':
          description: Очередь заменена
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

    delete:
      summary: Удалить ресурс очереди
      tags:
        - Очереди
      security:
        - adminAuth: []

      responses:
        '204':
          description: Очередь удалена
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /queues/{queue}/slots:

    parameters:
      - $ref: '#/components/parameters/queue'

    get:
      summary: Возвращает слоты в выбранной очереди в указанный промежуток дат
      tags:
        - Очереди
      security: []   # доступно без аутентификации
      
      parameters:
        - name: day
          in: query
          required: false
          allowEmptyValue: false
          description: Первый день для составления интервала дат
          schema:
            type: string
            format: date
            example: "2021-01-30"
        - name: offset
          in: query
          required: false
          allowEmptyValue: false
          description: Длина интервала дат 
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 90
            example: 4
        - name: my
          in: query
          required: false
          allowEmptyValue: true
          description: Возвращать слоты только запросившего пользователя
          schema:
            type: boolean
      
      responses:
        '200':
          description: JSON-массив со слотами на дни с `day` по `day`+`offset`-1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Slots'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

    put:
      summary: Создать или заменить коллекцию слотов очереди
      tags:
        - Очереди
      security:
        - adminAuth: []

      requestBody:
        $ref: '#/components/requestBodies/SlotsPut'
      
      responses:
        '201':
          description: Слоты созданы
        '204':
          description: Слоты заменены
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

    patch:
      summary: Модифицировать коллекцию слотов очереди
      tags:
        - Очереди
      security:
        - adminAuth: []
      
      requestBody:
        $ref: '#/components/requestBodies/SlotsPatch'
      
      responses:
        '204':
          description: Слоты изменены
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /queues/{queue}/slots/{id}:

    parameters:
      - $ref: '#/components/parameters/queue'
      - $ref: '#/components/parameters/id'

    get:
      summary: Возвращает информацию о запрошенном слоте в очереди
      tags:
        - Очереди
      security: []   # доступно без аутентификации

      responses:
        '200':
          description: JSON-объект с информацией о слоте
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Slot'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

    delete:
      summary: Удалить слот
      tags:
        - Очереди
      security:
        - adminAuth: []

      responses:
        '204':
          description: Слот удален
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /queues/{queue}/slots/{id}/reserve:

    parameters:
      - $ref: '#/components/parameters/queue'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/emailNext'

    post:
      summary: Занять выбранный слот в выбранной очереди
      tags:
        - Очереди
      security:
      - cookieAuth: []
        csrfToken: []
      - ottAuth: []

      responses:
        '201':
          description: Успешная запись. На вашу почту выслана копия талона.
            Если ваши планы изменились, то вы можете отменить запись, пройдя
            по ссылке из письма.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          description: Этот слот уже занят\истёк или Вы уже записались в эту очередь
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          $ref: '#/components/responses/UnexpectedError'
    
    delete:
      summary: Отменить бронирование слота
      tags:
        - Очереди
      security:
        # Нужно либо cookieAuth, либо adminAuth
        - cookieAuth: []
        - adminAuth: []

      parameters:
        - $ref: '#/components/parameters/quickAuthToken'

      responses:
        '204':
          description: Запись удалена
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /feedback:

    get:
      summary: Возвращает список получателей обратной связи
      tags:
        - Обратная связь
      security: []   # доступно без аутентификации

      responses:
        '200':
          description: JSON-массив с получателями
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipients'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /feedback/{recipient}:

    parameters:
      - $ref: '#/components/parameters/recipient'

    get:
      summary: Возвращает информацию о получателе обратной связи
      tags:
        - Обратная связь
      security: []   # доступно без аутентификации

      responses:
        '200':
          description: JSON-объект с информацией о получателе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipient'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /feedback/{recipient}/items:

    parameters:
      - $ref: '#/components/parameters/recipient'

    get:
      summary: Вернуть принятые объекты обратной связи
      tags:
        - Обратная связь
      security:
        - adminAuth: [] # TODO: поменять при появлении ролей пользователей
      
      parameters:
        - name: start_time
          in: query
          required: false
          allowEmptyValue: false
          description: Первый день для составления интервала дат
          schema:
            type: string
            format: date
            example: "2021-01-30"
        - name: end_time
          in: query
          required: false
          allowEmptyValue: false
          description: Последний день для составления интервала дат
          schema:
            type: string
            format: date
            example: "2021-01-30"
        - name: category
          in: query
          required: false
          allowEmptyValue: false
          description: Категория обращения
          schema:
            type: string
      
      responses:
        '200':
          description: JSON-массив с объектами обратной связи
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feedbacks'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

    post:
      summary: Отправить новый объект обратной связи
      tags:
        - Обратная связь
      security: []

      requestBody:
        $ref: '#/components/requestBodies/Feedback'

      responses:
        '201':
          description: Успешно отправлено
        default:
          $ref: '#/components/responses/UnexpectedError'

  /feedback/{recipient}/items/{id}:

    parameters:
      - $ref: '#/components/parameters/recipient'
      - $ref: '#/components/parameters/id'

    get:
      summary: Возвращает информацию о запрошенном предмете обратной связи
      tags:
        - Обратная связь
      security:
        - adminAuth: [] # TODO: поменять при появлении ролей пользователей

      responses:
        '200':
          description: JSON-объект с обратной связью
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feedback'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /maintenance:

    get:
      summary: Возвращает заявки на оказание услуг
      tags:
        - Технические услуги
      security:
        - adminAuth: [] # TODO: поменять при появлении ролей пользователей
      
      parameters:
        - name: start_time
          in: query
          required: false
          allowEmptyValue: false
          description: Первый день для составления интервала дат
          schema:
            type: string
            format: date
            example: "2021-01-30"
        - name: end_time
          in: query
          required: false
          allowEmptyValue: false
          description: Последний день для составления интервала дат
          schema:
            type: string
            format: date
            example: "2021-01-30"
        - name: category
          in: query
          required: false
          allowEmptyValue: false
          description: Категория заявки
          schema:
            type: string
            enum: ['plumber', 'electrician', 'carpenter']
      
      responses:
        '200':
          description: JSON-массив с заявки на тех. услуги
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Maintenances'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

    post:
      summary: Создать новую заявку на тех. услуги
      tags:
        - Технические услуги
      security:
      - cookieAuth: []
        csrfToken: []
      - ottAuth: []

      requestBody:
        $ref: '#/components/requestBodies/Maintenance'

      responses:
        '201':
          description: Успешно отправлено
        '442':
          $ref:  "#/components/responses/NotEnoughPersonalDataError"
        default:
          $ref: '#/components/responses/UnexpectedError'

  /maintenance/{id}:

    parameters:
      - $ref: '#/components/parameters/id'

    get:
      summary: Возвращает информацию о конкретной заявке
      tags:
        - Технические услуги
      security:
        - adminAuth: [] # TODO: поменять при появлении ролей пользователей

      responses:
        '200':
          description: JSON-объект заявки на тех. услуги
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Maintenance'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          $ref: '#/components/responses/UnexpectedError'

components: 

  schemas: 

    User:
      type: object
      title: 'User'
      allOf:
        - $ref: './cyberdas/static/signup_schema.json'
      properties:
        id:
          type: integer
        createdAt:
          type: string
          format: date
      required:
        - id
        - createdAt

    Queue:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        description:
          type: string
        duration:
          description: Продолжительность слотов этой очереди, в минутах
          type: integer
        waterfall:
          description: Нужно ли представлять очередь в виде непрерывной последовательности слотов
          type: boolean
        only_once:
          description: Можно ли занять место в очереди только один раз
          type: boolean
      required:
        - name
        - title
        - description
        - duration
        - waterfall
        - only_once

    Queues:
      type: array
      items:
        $ref: '#/components/schemas/Queue'
    
    Slot:
      type: object
      properties:
        id:
          type: integer
        time:
          type: string
          format: date-time
        free:
          type: boolean
      required:
        - id
        - time
        - free

    Slots:
      type: array
      items:
        $ref: '#/components/schemas/Slot'
      minItems: 1

    Recipient:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        description:
          type: string
        categories:
          description: Список категорий обращений, которые принимаются этим получателем
          type: array
          items:
            type: string
      required:
        - name
        - title
        - description
        - categories

    Recipients:
      type: array
      items:
        $ref: '#/components/schemas/Recipient'

    Feedback:
      type: object
      properties:
        id:
          type: integer
        category:
          type: string
        text:
          type: string
        email:
          type: string
          format: email
        created_at:
          type: string
          format: date
      required:
        - id
        - category
        - text
        - created_at

    Feedbacks:
      type: array
      items:
        $ref: '#/components/schemas/Feedback'

    Maintenance:
      type: object
      properties:
        id:
          type: integer
        category:
          type: string
          enum: ['plumber', 'electrician', 'carpenter']
        building:
          type: integer
          enum: [1, 2]
        room:
          type: integer
        text:
          type: string
        user_id:
          type: integer
        created_at:
          type: string
          format: date
      required:
        - id
        - category
        - building
        - room
        - text
        - user_id
        - created_at

    Maintenances:
      type: array
      items:
        $ref: '#/components/schemas/Maintenance'

    Error:
      type: object
      properties:
        title:
          type: string
        description:
          type: string


  responses:

    UnexpectedError:
      description: Непредвиденная ошибка
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    UnauthenticatedError:
      description: Неизвестный пользователь
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    UnauthorizedError:
      description: Отсутствует право доступа
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotEnoughPersonalDataError:
      description: Недостаточно персональных данных
      content:
        application/json:
          schema:
            properties:
              title:
                type: string
                enum: ['442 Not Enough Personal Data']
              description:
                type: string
                example: 'faculty_id,course'


  parameters:
    queue:
      name: queue
      in: path
      required: true
      description: Имя очереди
      schema:
        type: string
        example: "living"
    id:
      name: id
      in: path
      required: true
      description: ID запрашиваемого объекта
      schema:
        type: integer
        example: 23
    quickAuthToken:
      name: token
      in: query
      required: false
      allowEmptyValue: false
      description: Подписанный токен, позволяющий аутентифицироваться на 
        некоторых эндпоинтах без процедуры логина и регистрации
      schema:
        type: string
        format: byte
    emailNext:
      name: next
      in: query
      required: false
      allowEmptyValue: false
      description: Параметр, который будучи указан, перенаправляет пользователя
        из письма на {frontend}/{next}, а не обратно на API
      schema:
        type: string
    recipient:
        name: recipient
        in: path
        required: true
        description: Имя получателя обратной связи
        schema:
          type: string
          example: "studcom"


  requestBodies:

    Signup:
      description: JSON-объект, содержащий данные для регистрации нового аккаунта (почту, ФИО, ...)
      required: true
      content:
        'application/json':
          schema:
            $ref: './cyberdas/static/signup_schema.json'

    Login:
      description: JSON-объект, содержащий адрес почты для логина
      required: true
      content:
        'application/json':
          schema:
            $ref: './cyberdas/static/login_schema.json'

    QuickAuth:
      description: JSON-объект, содержащий адрес почты для логина или все 
        данные, необходимые для регистрации. Позволяет пропустить регистрацию 
        и использовать некоторые защищенные эндпоинты без неё.
      required: true
      content:
        'application/json':
          schema:
            $ref: './cyberdas/static/quickAuth_schema.json'
    
    QueuePut:
      description: JSON-объект, содержащий информацию для создания очереди
      required: true
      content:
        'application/json':
          schema:
            $ref: './cyberdas/static/queuePut_schema.json'

    SlotsPut:
      description: JSON-массив, содержащий datetime'ы для создания слотов
      required: true
      content:
        'application/json':
          schema:
            $ref: './cyberdas/static/slotsPut_schema.json'


    SlotsPatch:
      description: JSON-объект, содержащий datetime'ы для добавления новых слотов
      required: true
      content:
        'application/json':
          schema:
            # TODO: привести к формату [JSON Patch](https://datatracker.ietf.org/doc/html/rfc6902)
            $ref: './cyberdas/static/slotsPatch_schema.json'

    Feedback:
      description: JSON-объект, содержащий информацию для создания объекта 
        обратной связи
      required: true
      content:
        'application/json':
          schema:
            $ref: './cyberdas/static/feedback_schema.json'

    Maintenance:
      description: JSON-объект, содержащий информацию для создания заявки на
        оказание технических услуг
      required: true
      content:
        'application/json':
          schema:
            $ref: './cyberdas/static/maintenance_schema.json'


  securitySchemes:

    cookieAuth:
      type: apiKey
      in: cookie
      name: SESSIONID

    csrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token

    ottAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

    adminAuth:
      type: apiKey
      in: cookie
      name: ADMINID


# Для совершения всех действий требуется активная сессия, если не указано иное
security:
  - cookieAuth: []
