Подтверждение входа на сайте CyberDAS.

https://cyberdas.net

Для входа на сайт, нажмите на кнопку ниже.
Подтвердить вход ({{ transaction_url }})

Если вы не пытались зайти в свой аккаунт - просто удалите письмо.