Подтверждение регистрации на сайте CyberDAS.

Поздравляем с регистрацией на сайте. Для подтверждения регистрации активируйте аккаунт, нажав сюда.
Если кнопка сверху не работает, пройдите по ссылке вручную:
{{ transaction_url }}
При возникновении проблем - пишите на support@cyberdas.net, мы обязательно постараемся вам помочь.
Если вы не проходили регистрацию - просто удалите письмо.