Вы отменили запись на {{ queue_title }} на время {{ slot_date }}. Спасибо что пользуетесь нашими услугами.
При возникновении проблем - пишите на support@cyberdas.net, мы обязательно постараемся вам помочь.
