Вы записались на {{ queue_title }}, ваше время {{ slot_date }}. Спасибо что пользуетесь нашими услугами.
Если у вас поменялись планы и вы хотите отменить запись, пройдите по ссылке {{ transaction_url }}.
При возникновении проблем - пишите на support@cyberdas.net, мы обязательно постараемся вам помочь.
