Подтверждение регистрации на сайте CyberDAS.

https://cyberdas.net

Поздравляем с регистрацией на сайте. Для подтверждения регистрации активируйте аккаунт, нажав на кнопку ниже.
Подтвердить регистрацию ({{ verify_url }})

Если вы не проходили регистрацию - просто удалите письмо.